header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
  }
  
  .title-container {
    display: flex;
    align-items: center;
  }
  
  .cart-icon {
    position: fixed;
    top: 100px;
    right: 20px;
  }
  
  nav {
    display: flex;
  }
  
  nav a {
    margin-right: 10px; /* Adjust as needed */
  }
  