.image-container {
    width: 256px; /* Set the desired width */
    height: 256px; /* Set the desired height */
    overflow: hidden; /* Hide any overflowing content */
}

.image-container img {
    object-fit: cover; /* Crop the image to fit the container */
    width: 100%; /* Make the image fill the container horizontally */
    height: 100%; /* Make the image fill the container vertically */
}

/* Quick fix to display text in achievements and description */
.own-profile-section {
    color: red;
}

#description {
    margin-top: 10px;
    width: 40%;
    height: 100px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 5px solid #800000;
    border-radius: 10px;
    resize: none;
    color: white;
    background-color: #800000;
}

#remove-button {
    color: white;
    background-color: #800000;
    width: 20px;
    height: 10px;
    text-align: center;
    line-height: 0px; /* Center the text vertically */
}

.profile-info {
    position: relative;
  }
  
  .profile-info p {
    color: red;
    position: absolute;
  }
  
  .profile-info p:first-child {
    top: -430px;
    font-size: large;
  }
  
  .profile-info p:last-child {
    top: -400px;
  }

  .upload-form {
    margin-top: 20px;
  }
  
  .upload-input {
    background-color: #800000;
    color: white;
    width: 250px;
    border-radius: 10px;
    font-size: medium;
    border: 2px solid #800000;
  }
  
  .upload-button {
    font-size: medium;
    border-radius: 10px;
    background-color: #800000;
    color: white;
    
  }
  
  .upload-button:hover {
    background-color: #000000;

  }

.all{
  margin-left: 50px;
}
  