<div class="image-container">
  <img [src]="imageToShow" class="profile-picture">
</div>

<form *ngIf="this.username == profile.name" (submit)="onSubmit()">
    <input type="file" (change)="onFileSelected($event)" />
    <button type="submit">Upload</button>
  </form>


<p>{{profile.name}}</p>
<p>{{profile.role}}</p>

<div *ngIf="this.username !== profile.name">
  <h2>Description:</h2>
  <p>{{profile.description}}</p>
</div>


<div *ngIf="this.username == profile.name">
  <h2>Description:</h2>
  <textarea id="description" [(ngModel)]="profile.description" placeholder="{{profile.description}}"></textarea><br>
  <button type="button" (click)="save()">save</button>
</div>