/* Adjust the styles for the slideshow container */
.slideshow-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.slideshow-frame {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 5px solid #990000;
  box-sizing: border-box;
  z-index: 1;
  pointer-events: none;
}

@keyframes slideShow {
  0%, 100% {
    transform: translateX(0%);
  }
  7% {
    transform: translateX(-14.29%);
  }
  14% {
    transform: translateX(-28.57%);
  }
  21% {
    transform: translateX(-42.86%);
  }
  28% {
    transform: translateX(-57.14%);
  }
  35% {
    transform: translateX(-71.43%);
  }
  42% {
    transform: translateX(-85.71%);
  }
  49% {
    transform: translateX(-85.71%);
  }
  57% {
    transform: translateX(-71.43%);
  }
  64% {
    transform: translateX(-57.14%);
  }
  71% {
    transform: translateX(-42.86%);
  }
  78% {
    transform: translateX(-28.57%);
  }
  85% {
    transform: translateX(-14.29%);
  }
  92% {
    transform: translateX(0%);
  }
}

.slides {
  display: flex;
  width: 700%;
  height: 100%;
  animation: slideShow 60s linear infinite;
}

.image {
  flex: 0 0 14.29%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* Toggle switch styles */
.toggle {
  position: absolute;
  top: 50%; /* Adjust as needed for exact placement */
  left: 50%; /* Adjust as needed for exact placement */
  transform: translate(-50%, -50%); /* Center the toggle */
  border: 2px solid #444249;
  border-radius: 20px;
  transition: border-color .6s ease-out;
  box-sizing: border-box;
  cursor: pointer; /* Added for better UX */
  width: 75px; /* Width of the toggle */
  height: 40px; /* Height of the toggle */
}

/* Adjust the styles for the toggle switch container */
#switch {
  position: fixed; /* Fixed position relative to the viewport */
  top: 50px; /* Distance from the top of the viewport */
  right: 20px; /* Distance from the right of the viewport */
  z-index: 100; /* Ensures it's on top of other elements */
}

/* Styles for the toggle when it's in the 'on' position */
.toggle.toggle-on {
  border-color: rgba(137, 194, 217, .4);
  transition: all .5s .15s ease-out;
}

/* Styles for the button inside the toggle */
.toggle-button {
  position: absolute;
  top: 4px;
  width: 28px;
  bottom: 4px;
  right: 39px;
  background-color: #444249;
  border-radius: 19px;
  transition: all .3s .1s, width .1s, top .1s, bottom .1s;
}

/* Styles for when the toggle is in the 'on' position */
.toggle-on .toggle-button {
  top: 3px;
  width: 65px; /* Width of the button to cover the entire toggle */
  bottom: 3px;
  right: 3px;
  border-radius: 23px;
  background-color: #ff4136; /* Change to a red color */
  box-shadow: 0 0 16px rgba(255, 65, 54, 0.6); /* Adjust the shadow color to a red glow */
  transition: all .2s .1s, right .1s;
}

/* Styles for text "ON" inside the toggle */
.toggle-text-on {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  line-height: 36px;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  font-weight: normal;
  user-select: none;
  color: rgba(0,0,0,0);
  transition: color .3s .15s;
}

/* Styles for text "ON" when the toggle is in the 'on' position */
.toggle-on .toggle-text-on {
  color: white;
}

/* Styles for text "OFF" inside the toggle */
.toggle-text-off {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 6px;
  line-height: 36px;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  font-weight: bold;
  user-select: none;
  color: white;
}

/* Styles for text "OFF" when the toggle is in the 'on' position */
.toggle-on .toggle-text-off {
  color: rgba(0,0,0,0);
}

/* Styles for the glow effect inside the toggle */
.glow-comp {
  position: absolute;
  opacity: 0;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  border-radius: 6px;
  background-color: rgba(75, 122, 141, .1);
  box-shadow: 0 0 12px rgba(75, 122, 141, .2);
  transition: opacity 4.5s 1s;
}

/* Styles for the glow when the toggle is in the 'on' position */
.toggle-on .glow-comp {
  opacity: 1;
  transition: opacity 1s;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Prevent scrolling */
}

  /* login.component.css */
  #custom-title {
    font-family: 'Great Vibes', cursive;
    color: #fff;
    text-decoration: none;
    font-size: 50px; /* Adjust font size as needed */
  }
  
  .login-container {
    position: fixed; /* Positioned relative to the viewport */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Offset the container by half its width and height */
    z-index: 1;
    text-align: center;
    padding: 40px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: transparent;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: fit-content; /* Adjust the width as needed */
    backdrop-filter: blur(10px);
    opacity: 0.9;
    mix-blend-mode: screen;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  input, button {
    box-sizing: border-box; /* Include padding and border in the element's total width */
    width: 200px; /* This width now includes any border or padding */
    margin: 10px 0; /* Adds space between form elements */
  }
  
  input {
    padding: 10px; /* This padding is now inside the 100px width */
    border: 1px solid #990000; /* Example border */
    font-size: 20px; /* Font size for readability */
  }
  
  button {
    padding: 10px; /* Adjust this as needed, keeping in mind it's inside the 100px width */
    font-size: 24px; /* Larger font size */
    background-color: #990000; /* Example: a shade of blue */
    color: #fff; /* White text */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
  }
  
  label {
    margin-top: 10px;
    color: #fff; /* Dark grey color for the text */
    font-size: 24px; /* Increased font size */
    font-family: Arial, sans-serif; /* Example font family */
  }

