mat-sidenav-container {
    height: 100vh;
    background-color: white;
        
      }
      
      mat-sidenav, mat-sidenav-content {
        padding: 16px;
      
      }
      
      mat-sidenav {
        background-color: black;
        width: 300px;
     
      }