<div style="height: 100vh;">
    <mat-sidenav-container>
        <mat-sidenav #sidenav >
        <!--   # [(opened)]="opened" mode="side" (opened)="log('Opened')" 
          (closed)="log('Closed')" --> 
        <div class="dropdown" >  
        <button  [matMenuTriggerFor]="animals"  class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" aria-haspopup="true" aria-expanded="false">Animal index</button>
     </div>
    
        <mat-menu #animals="matMenu" >
          <button mat-menu-item [matMenuTriggerFor]="vertebrates" (click)="setflag()"><a class="sidenav__list__link " 
          (click)="sidenav.close()"
           [routerLink]="'/link1'">Vertebrates</a></button>
          <button  mat-menu-item [matMenuTriggerFor]="invertebrates" 
          (click)="sidenav.close()">Invertebrates</button>
        </mat-menu>
        
        <mat-menu #vertebrates="matMenu">
          <button mat-menu-item [matMenuTriggerFor]="fish"
          (click)="sidenav.close()">Fishes</button>
    
          <button mat-menu-item 
          (click)="sidenav.close()">Amphibians</button>
    
          <button mat-menu-item 
          (click)="sidenav.close()">Mobhipina</button>
    
          <button (click)="sidenav.close()" mat-menu-item>Birds</button>
          <button (click)="sidenav.close()" mat-menu-item>Mammals</button>
        </mat-menu>
        
        <mat-menu #invertebrates="matMenu">
          <button mat-menu-item><a [routerLink]="['link2']" (click)="sidenav.close()">Reptiles</a></button>
          <button mat-menu-item (click)="sidenav.close()">Molluscs</button>
          <button mat-menu-item (click)="sidenav.close()">Crustaceans</button>
          
        </mat-menu>
        
        <mat-menu #fish="matMenu">
          <button mat-menu-item (click)="sidenav.close()">Baikal oilfish</button>
          <button mat-menu-item (click)="sidenav.close()">Bala shark</button>
      
        </mat-menu>
     
    
       
        
    
       
        </mat-sidenav>
        
        <mat-sidenav-content>
     
          <button  class="fa fa-list fa-2x" (click)="sidenav.toggle()"></button>
        </mat-sidenav-content>
    
     
        
      </mat-sidenav-container>
      </div>