/* SchemeSearch private styles */

label {
    display: block;
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom: .5rem;
  }
  
  input {
    padding: .5rem;
    width: 100%;
    outline: #800000; /* Add this line to remove the default outline */
    max-width: 600px;
    box-sizing: border-box;
    display: block;
    color: white;
    background-color: #800000;
    justify-content: center;
    border-radius: 20px; /* Add this line for rounded edges */
    font-size: 14px; /* Adjust font size as needed */
    font-weight: bold; /* Set font weight to bold */

  }

  #search-component {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
    width: 100%;
    padding-top: 1rem;
  }
  
  input:focus {
    outline: #800000
    auto 1px;
  }
  
  li {
    list-style-type: none;
  }

  .scheme-search-label {
    color: red;
    text-align: center;
  }

  #search-box::placeholder {
    color: white;
  }



  .search-result li a {
    border-bottom: 2px solid #000000;
    border-left: 2px solid #000000;
    border-right: 2px solid #000000;
    display: inline-block;
    width: 100%;
    max-width: 600px;
    padding: .5rem;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
    background-color: #800000;

  }
  
  .search-result li a:hover {
    background-color: #000000;
    color: white;
  }
  
  ul.search-result {
    margin-top: 0;
    padding-left: 0;
  }