.user-info {
    position: fixed;
    top: 20px;
    right: 20px;
    text-align: right;
    display: flex;
    align-items: center;
  }
  
  .username {
    margin-right: 10px;
  }
  
  .profile-picture {
    width: 25px; /* adjust as needed */
    height: 25px; /* adjust as needed */
  }