.user-info {
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column-reverse; 
  align-items: center;
}

.cupboard-link {
  color: red;
}

.cart-link {
  color: red;
}

.cupboard-container {
  color: red;
  margin-left: 1590px;
  margin-top: 25px;
  font-size: large;
}

.logout-container {
  color: red;
  margin-left: 1605px;
  margin-top: 5px;
  font-size: large;
}

.cart-container {
  margin-left: 1615px;
  margin-top: 5px;
  font-size: large;
}

.username {
  margin-right: 5px;
  font-size: large;
  color: red;

}

.profile-picture {
  width: 100px;
  height: 100px; 
  object-fit: cover;
  border-radius: 10px;
  object-fit: cover;
  border-radius: 10%;
  border: 2px solid red;
}

