<div class="container">
  <div class="user-info">
    <img [src]="imageToShow" class="profile-picture">
  <div class ="schemes-header">
    <a routerLink="/profile/{{username}}" class="username">Welcome {{username}}</a>
  </div>
    <div class="navigation">
      <div class ="schemes-header">
      <a routerLink="/cupboard" class="cupboard-link">Dashboard</a>
    </div>
    <div class ="schemes-header">
      <a (click)="logout()" class="logout-link">Logout</a>
    </div>
    <div class="schemes-header" *ngIf="role !== 'ROLE_ADMIN'">
      <a routerLink="/cart" class="cart-link">My Cart</a>
    </div>
  </div>
</div>
