/* DashboardComponent's private CSS styles */
@import '~bootstrap/dist/css/bootstrap.min.css';

/* Global settings */
.container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.sort-container, 
.schemes-menu {
  flex: 1; 
}

.sort-container {
  margin-left: 12%;
  border: 2px solid #800000;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: #800000;
  color: white;
  width: 200px;
  box-sizing: border-box;
}


.scheme-card {
  background-color: #800000;
  border-radius: 10px;
  margin: 0.5rem 0;
  overflow: hidden;
}

.scheme-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  color: white;
}

.scheme-title, .scheme-villain, .scheme-fundgoal {
  flex-basis: 33%;
  text-align: center;
  margin: 0 5px;
}


select {
  border: none;
  outline: none;
  color: #800000;
  background-color: white;
}
