<div class="scheme-search-container">
  <div class="scheme-search-title">
    <app-scheme-search></app-scheme-search>
  </div>
</div>


<div class="sort-container">
  <br> Sort By:<select (change) ="selectChangeHandler($event)"> <option *ngFor="let order of orders" [ngValue]="order.name">{{order.name}}</option> </select>
  
</div>

<div class="container">
  <div class="schemes-menu">
    <div class="scheme-details scheme-card">
      <span class="scheme-title bold">Scheme</span>
      <span class="scheme-villain bold">Villain</span>
      <span class="scheme-fundgoal bold">FundGoal</span>
    </div>
    <div *ngFor="let scheme of sortedSchemes" class="scheme-card">
      <a routerLink="/detail/{{scheme.id}}">
        <div class="scheme-details">
          <span class="scheme-title">{{ scheme.title }}</span>
          <span class="scheme-villain">{{ scheme.name }}</span>
          <span class="scheme-fundgoal">$ {{ scheme.fundgoal | number }}</span>
        </div>
      </a>
    </div>
  </div>
</div>
